lombok.addLombokGeneratedAnnotation = true
lombok.log.fieldIsStaticFinal = ERROR
lombok.log.fieldName = WARNING
lombok.log.fieldIsFinal = WARNING
lombok.log.constructorName = WARNING
lombok.log.methodName = WARNING
lombok.log.flagUsage = WARNING
lombok.log.flagUsageAny = WARNING
lombok.log.indentation = WARNING
lombok.log.skipOnError = WARNING
lombok.log.skipOnFlagUsage = WARNING
